<div id="topic_list">
  {{include './abstract' {topics:topics} }}
</div>
<div class='pagination' current_page='{{current_page}}'>
  <ul>
    {{#PageHelper(`${base}${base.indexOf('?') < 0 ? '?' : '&'}tab=${typeof tab !== 'undefined' ? tab : ''}&page=`,current_page,pages)}}
  </ul>
</div>
<script>
  $(document).ready(function () {
    var $nav = $('.pagination');
    var current_page = $nav.attr('current_page');
    if (current_page) {
      $nav.find('li').each(function () {
        var $li = $(this);
        var $a = $li.find('a');
        if ($a.html() == current_page) {
          $li.addClass('active');
          $a.removeAttr('href');
        }
      });
    }
  });
</script>
