<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <!-- meta -->
  <meta charset="utf-8" />
  <meta name='description' content='{{config.description}}'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="{{config.keywords}}" />
  <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
  <meta name="referrer" content="always"> {{each config.headers as header}}
  {{#header}}
    {{/each}}

    <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss" /> {{if config.icon}}
    <link rel="icon" href="{{staticFile(config.icon)}}" type="image/x-icon" />
    {{/if}}



    <!-- style -->
    {{#Loader( '/public/stylesheets/index.min.css') .css( '/public/libs/bootstrap/css/bootstrap.css') .css( '/public/stylesheets/common.css') .css( '/public/stylesheets/style.less') .css( '/public/stylesheets/responsive.css') .css(
      '/public/stylesheets/jquery.atwho.css') .css( '/public/libs/editor/editor.css') .css( '/public/libs/webuploader/webuploader.css') .css( '/public/libs/code-prettify/prettify.css') .css( '/public/libs/font-awesome/css/font-awesome.css') .done({prefix: config.static_host, env: config.env,
      CDNMap: assets})}}

      <!-- scripts -->
      {{#Loader( '/public/index.min.js') .js( '/public/libs/jquery-2.1.0.js') .js( '/public/libs/lodash.compat.js') .js( '/public/libs/jquery-ujs.js') .js( '/public/libs/bootstrap/js/bootstrap.js') .js( '/public/libs/jquery.caret.js') .js(
        '/public/libs/jquery.atwho.js') .js( '/public/libs/markdownit.js') .js( '/public/libs/code-prettify/prettify.js') .js( '/public/libs/qrcode.js') .js( '/public/javascripts/main.js') .js( '/public/javascripts/responsive.js') .done({prefix: config.static_host, env: config.env,
        CDNMap: assets})}}

        {{if topic}}
        <title>
          {{topic.title}} - {{config.name}}
        </title>
        {{else if pageTitle}}
        <title>
          {{pageTitle}} - {{config.name}}
        </title>
        {{else}}
          <title>
            {{config.description}}
          </title>
          {{/if}}
          <meta content="_csrf" name="csrf-param">
          <meta content="{{csrf}}" name="csrf-token">
</head>

<body>
  <!-- navbar -->
  <div class='navbar'>
    <div class='navbar-inner'>
      <div class='container'>
        <a class='brand' href='/'>
          {{if config.logo}}
          <img src="{{staticFile(config.logo)}}" />
          {{else}}
            {{config.name}}
          {{/if}}
        </a>

        <form id='search_form' class='navbar-search' action="/search">
          <input type='text' id='q' name='q' class='search-query span3' value='' />
        </form>
        <ul class='nav pull-right'>
          <li><a href='/'>首页</a></li>
          {{if current_user}}
          <li>
            <a href='/my/messages'>
              {{if current_user.messages_count}}
              <span class='big messages_count'>
                {{current_user.messages_count}}
              </span>
              {{/if}}
              未读消息
            </a>
          </li>
          {{/if}}
          <li><a href='/getstart'>新手入门</a></li>
          <li><a href='/api'>API</a></li>
          {{each config.navs as nav}}
          <li>
            <a href="{{nav[0]}}" target="{{nav[2]}}">
              {{nav[1]}}
            </a>
          </li>
          {{/each}}
          {{if current_user}}
          <li><a href='/setting'>设置</a></li>
          <li>
            <a href='/signout' data-method="post" rel="nofollow">退出</a>
          </li>
          {{else}}
            <li><a href='/signup'>注册</a></li>
            <li><a href='/signin'>登录</a></li>
            {{/if}}
        </ul>
        <a class="btn btn-navbar" id="responsive-sidebar-trigger">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
    </div>
  </div>
  <div id='main'>
    {{include './sidebar'}}
    <div id='content'>
      <div class='panel'>
        <div class='header'>
          <ul class='breadcrumb'>
            <li><a href='/'>主页</a><span class='divider'>/</span></li>
            <li class='active'>登录</li>
          </ul>
        </div>
        <div class='inner'>
          {{if error}}
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>{{error}}</strong>
          </div>
          {{/if}}
          <form id='signin_form' class='form-horizontal' action='/signin' method='post'>
            <div class='control-group'>
              <label class='control-label' for='name'>用户名</label>

              <div class='controls'>
                <input class='input-xlarge' id='name' name='name' size='30' type='text' />
              </div>
            </div>
            <div class='control-group'>
              <label class='control-label' for='pass'>密码</label>

              <div class='controls'>
                <input class='input-xlarge' id='pass' name='pass' size='30' type='password' />
              </div>
            </div>
            <input type='hidden' name='_csrf' value='{{csrf}}' />

            <div class='form-actions'>
              <input type='submit' class='span-primary' value='登录' />
              <a href="/auth/github">
                <span class="span-info">
              通过 GitHub 登录
            </span>
              </a>
              <a id="forgot_password" href='/search_pass'>忘记密码了?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id='backtotop'>回到顶部</div>
  <div id='footer'>
    <div id='footer_main'>
      <div class="links">
        <a class='dark' href='/rss'>RSS</a> |
        <a class='dark' href='https://github.com/cnodejs/nodeclub/'>源码地址</a>
      </div>

      {{include '/_sponsors'}}

    </div>
  </div>
  <div id="sidebar-mask"></div>

  {{if config.google_tracker_id}}
  <script>
    // google analytics
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', "{{proxy('https://www.google-analytics.com/analytics.js')}}", 'ga');

    ga('create', '{{config.google_tracker_id}}', 'auto');
    ga('send', 'pageview');

  </script>
  {{/if}}

  {{if config.cnzz_tracker_id}}
  <div style="display:none;">
    <script src="//s95.cnzz.com/z_stat.php?id={{config.cnzz_tracker_id}}&web_id={{config.cnzz_tracker_id}}" language="JavaScript"></script>
  </div>
  {{/if}}

</body>

</html>
